<!-- templates/home.html -->
{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <!-- yangi kod shu yerda! -->
        Salom, {{ user.username }}! Siz {{ user.age }} yoshdasiz.
        <!-- yangi kod tugadi -->
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Chiqish</button>
        </form>
    {% else %}
        <p>Siz tizimga kirmagansiz</p>
        <a href="{% url 'login' %}">Kirish</a> |
        <a href="{% url 'signup' %}">Ro‘yxatdan o‘tish</a>
    {% endif %}
{% endblock content %}